@media only screen and (min-width: 750px){

   

    .info-bg {
        background-image: url(icon-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        padding: 6rem;
    }

    .info-content {
        width: 120rem;
        padding-bottom: 3rem;
    }

    h3{
        font-size: 26px;
        width: 30rem;
        font-weight: 600;
        line-height: 1.5em;
        letter-spacing: 2px;
        text-shadow: 1px 0 black;
    }
    .card {
        border: none;
        border-radius: 22px;
        font-family: 'poppins', sans-serif;
        font-size: small;
        display: flex;
        height: 300px;
    }

    .card-1 {
        background-color: #BBCCF0;
        border: none;
        border-radius: 22px;
        height: fit-content;
        padding: 1.8rem;
        width: 20rem;
        font-size: 12px;
    }
    .card2 {
        font-size: 12px;
        border: none;
        border-radius: 22px;
        background-color: #BBCCF0;
        display: flex;
        top: -235px;
        left: 70px;
        padding: 1.8rem;
        width: 20rem;
        height: fit-content;
    }

    .banner, .ban {
        padding: 3rem;
    }

    .banner-2-content, .banner-3-content {
        display: grid;
        grid-template-columns: auto auto;
        margin: 3rem;
    }

    .banner-2 , .banner-3{
        display: flex;
        flex-direction: column;
        padding: 4rem 0rem 3rem 4rem;
    }

    .banner-2-img{
        height: 23rem;
        border-radius: 70px;
    }

    .banner-2 h2 , .banner-3 h2{
        font-size: 34px;
        font-weight: bold;
        align-self: center;
        letter-spacing: 1.8px;
        text-shadow: 1.8px 0 black;
    }

    .banner-2-list {
        width: 38rem;
        font-size: 14px;
        line-height: 1.3rem;
    }

    .banner-2-list li{
        list-style: none;
        padding: 20px 50px;
        background-image: url("bullet.png");
        background-repeat: no-repeat;
        background-size: 3rem;  
    }

    .banner-2-list li h5 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.5rem;
        text-shadow: 1px 0 black;
    }

    .b3-line1, .b3-line2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .banner h2, .ban h2{
        font-size: 34px;
        font-weight: bold;
        align-self: center;
        letter-spacing: 2px;
        text-shadow: 1.8px 0 white;
        text-align: center;
    }
    
    .banner-content {
        display: flex;
        justify-content: space-evenly;
        margin: 3rem 0 1rem 0;
    }

    .b4-text {
        font-size: 21px;
        letter-spacing: 1px; 
        line-height: 2.5rem;
    }


    .b4 {
        display: flex;
        padding: 2rem;
    }

    .b4-head {
        font-size: 34px;
        font-weight: bolder;
        align-self: center;
        letter-spacing: 1.8px;
        text-shadow: 1.8px 0 black;
    }

    .footsec2 {
        margin-left: 100px;
    }

    .foot-list {
        margin-left: 20px;
    }

    .footline {
        border-left: 1px solid black;
        height: 1rem;
        margin: 0 10px;
    }

    .footsec2 p {
        width: 15rem;
    }

    .banner-5 {
        background-color: #cfe2f3;
        padding: 0 3rem;
    }

    .b5-block img{
        width: 18rem;
        height: 9rem;
        border-radius: 10px;
    }

    .b5-head{
        font-weight: bolder;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 26px;
        text-shadow: 1px 0 black;
        width: 18rem;
        margin: 1rem 0;
    }

    .b5-text {
        font-size: 15px;
        color: grey;
        line-height: 26px;
        width: 18rem;
    }

    .banner-4{
        /* padding: 2rem; */
    }

    .b3-block {
        text-align: center;
        width: 20rem;
        padding: 1rem;
    }

    .banner-3-content {
        margin: 5px;
        padding: 5px;
    }
}

body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

nav{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.507);   
}

.dropdown-item {
    color: #1155cc;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dropdown-menu {
    border-color: #1155cc;
    border-radius: 0%;
    border-width: 2px;
    padding: 1rem;
}

.item{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: 0px;
}

.info-box{
    padding: 100px 50px 50px 50px;
    
}

.info-head{
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight:900;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.4em;
    letter-spacing: 2px;
    text-shadow: 2.6px 0 black;
}

.btn-gr {
    font-family: 'poppins', sans-serif;
    letter-spacing: 2px;
    text-shadow: 0.3px 0 white;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: rgb(252, 248, 243);
}

.btn-success {
    background-color: #189921;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block p{
    align-self: center;
    width: 6rem;
    margin: 0.5rem;
    font-size: small;
    text-shadow: 0.4px 0 white;
    line-height: 1.5rem;
}

.b2-btn {
    letter-spacing: 2px;
    text-shadow: 0.3px 0 white;
    font-weight: 600;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: rgb(252, 248, 243);
    max-width: fit-content;
    align-self: center;
}

.b2-text a {
    text-decoration: none;
    color: #189921;
}

.banner-3 {
    background-color: #cfe2f3;
}

.b3-head{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-shadow: 1px 0 black;
} 

.b3-block img {
    padding: 3px 6px;
    height: 4.9rem;
    margin: 1rem;
    border-radius: 20px;
    background-color: beige;
}

.b3-block a {
    text-decoration: none;
    color: #189921;
}

.border-bg {
    background-image: url('bg-border.png');
    background-repeat: no-repeat;
}

.cd {
    width: 20rem;
    font-size: 15px;
}

.b5-link {
    float: right;
    margin: -3rem 5rem;
    font-size: larger;
    font-weight: bold;
    color: #189921;
    text-decoration-color: #1155cc;
    
}

.footer {
    background-color: #111122;
    color: white;
}

.divider {
    
    border-left: 1.3px solid white;
    height: 15rem;
    margin: 0 20px;
}

.foot-list li , .foot-end li{
    font-size: 14px;
    list-style: none;
    margin: 0 10px 15px 0px;
}
