@media only screen and (max-width: 750px) {
    .info-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: auto;
    }

    .info-head{
        font-size: 26px;
        font-weight:900;
        text-transform: capitalize;
        font-style: normal;
        text-decoration: none;
        line-height: 1.4em;
        letter-spacing: 2px;
        text-shadow: 1.6px 0 black;
    }

    .info-bg {
        background-image: url(icon-bg.png);
        background-repeat: no-repeat;
        background-position: center left;
        padding:0;
        margin-top: 5rem;
    }

    h3{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.5em;
    }

    .card {
        border: none;
        border-radius: 22px;
        font-family: 'poppins', sans-serif;
        font-size: small;
        display: flex;
        height: 350px;
        text-align: left;
    }

    .card-1 {
        background-color: #BBCCF0;
        border: none;
        border-radius: 22px;
        height: fit-content;
        padding: 1.8rem;
        width: 90%;
        font-size: 12px;
    }
    .card2 {
        font-size: 12px;
        border: none;
        border-radius: 22px;
        background-color: #BBCCF0;
        display: flex;
        top: -215px;
        left: 40px;
        padding: 1.8rem;
        width: 100%;
        height: fit-content;
    }

    .banner h2{
        font-size: 26px;
        font-weight: bold;
        align-self: center;
        letter-spacing: 2px;
        text-shadow: 1.8px 0 white;
        text-align: center;
    }

    .banner {
        padding: 3rem 1rem;
        text-align: center;
    }

    .banner-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin: 3rem 0 1rem 0;
    }

    .banner-2 h2 {
        text-align: center;
    }

    .banner-2 , .banner-3{
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-2 h2 , .banner-3 h2{
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
        align-self: center;
        letter-spacing: 1.8px;
        text-shadow: 1.8px 0 black;
    }

    .banner-2-list {
        width: auto;
        font-size: 14px;
        line-height: 1.3rem;
    }

    .banner-2-img{
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .banner-2-list li{
        list-style: none;
        padding: 20px 50px;
        background-image: url("bullet.png");
        background-repeat: no-repeat;
        background-size: 3rem;  
    }

    .banner-2-list li h5 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.5rem;
        text-shadow: 1px 0 black;
    }

    .banner-3{
        text-align: center;
    }

    .b3-block {
        padding: 0;
        text-align: center;
    }

    .banner-4 {
        margin-top: 0;
    }

    .b4-head {
        font-size: 26px;
        margin-top: 2rem;
        font-weight: bolder;
        align-self: center;
        letter-spacing: 1.8px;
        text-shadow: 1.8px 0 black;
    }

    .b4-text {
        font-size: 18px;
        margin-bottom: 2rem;
        letter-spacing: 0.8px; 
        line-height: 1.5rem;
    }

    .b4-head {
        text-align: center;
    }

    .ban {
        display: flex;
        flex-direction: column;
    }

    .ban h2{
        font-size: 34px;
        font-weight: bold;
        align-self: center;
        letter-spacing: 2px;
        text-shadow: 1.8px 0 white;
        text-align: center;
    }

    .ban .banner-content {
        
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 1rem 0 0rem 0;
        
    }

    .ban .block {
        margin-bottom: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footline {
        border-left: 1px solid black;
        height: 1rem;
    }

    .foot-end li:not(:first-child) {
        margin-left: 10px;
    }

    .banner-5 {
        background-color: #cfe2f3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .b5-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .b5-block img{
        border-radius: 10px;
    }

    .b5-head{
        font-weight: bolder;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 26px;
        text-shadow: 1px 0 black;
        margin-top: 1rem;
    }

    .b5-text {
        font-size: 15px;
        color: grey;
        line-height: 26px;
    }

  }